@charset "utf-8";

html {
    background-color: beige;
}

body {
    font-family: 'Rubik', sans-serif;
}

.topnav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, .25fr);
    padding-bottom: 100px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414C53;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li.right {
    float: right;
}

aside#rightnav ul {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(4, .25fr);
    list-style-type: none;
    background-color: #968879;
    float: right;
    padding: 40px;
    margin: 0;
}

#leftnav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

#leftnav a {
    padding: 10px 0px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#leftnav a:hover {
    color: #f1f1f1;
}

#leftnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    #leftnav {
        padding-top: 15px;
    }

    #leftnav a {
        font-size: .5em;
    }
}

#navButton {
    background: url(../Three\ Lines\ .png) no-repeat;
    width: 34px;
    height: 34px;
}

p {
    text-indent: 50px;
}



/* Footer Styles */
footer {
    background-color: #414C53;
    text-align: center;
    padding: 10px;
    color: white;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
}